<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            {{ include('SanchoAppBundle:Partials:_stylesheets.html.twig') }}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {{ include('SanchoAppBundle:Partials:_shim.html.twig') }}
    </head>
    <body>
        {% block header %}
            {{ include('SanchoAppBundle:Partials:_header.html.twig') }}
        {% endblock %}

        <div class="container">
            {% include('SanchoAppBundle:Partials:_flash.html.twig') %}

            {% block body %}{% endblock %}

            {% block footer %}
                {{ include('SanchoAppBundle:Partials:_footer.html.twig') }}
            {% endblock %}
        </div>

        {% block javascripts %}
            {{ include('SanchoAppBundle:Partials:_scripts.html.twig') }}
        {% endblock %}
    </body>
</html>
